m1_hier_attribute_by_default.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="qualified">
	<xs:element name="AcademicInstitution">
		<xs:complexType>
			<xs:attribute name="userid">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="institution">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Advise">
		<xs:complexType>
			<xs:attribute name="profid">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sid">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Circle">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CirclePrivacy" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="FriendRelation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="userid" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
		<xs:key name="Circle_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="@userid"/>
			<xs:field xpath="@name"/>
		</xs:key>
		<xs:keyref name="CirclePrivacy_ForeignKey_2" refer="Circle_PrimaryKey_1">
			<xs:selector xpath="CirclePrivacy"/>
			<xs:field xpath="@userid"/>
			<xs:field xpath="@circle"/>
		</xs:keyref>
		<xs:keyref name="FriendRelation_ForeignKey_1" refer="Circle_PrimaryKey_1">
			<xs:selector xpath="FriendRelation"/>
			<xs:field xpath="@userid"/>
			<xs:field xpath="@circle"/>
		</xs:keyref>
	</xs:element>
	<xs:element name="CirclePrivacy">
		<xs:complexType>
			<xs:attribute name="pid">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="userid">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="circle">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="FriendRelation">
		<xs:complexType>
			<xs:attribute name="userid">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="friendid">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="circle">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Photo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CirclePrivacy" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Rating" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="UserPrivacy" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="pid" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="userid">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="url" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="privacy">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
		<xs:key name="Photo_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="@pid"/>
		</xs:key>
		<xs:keyref name="CirclePrivacy_ForeignKey_1" refer="Photo_PrimaryKey_1">
			<xs:selector xpath="CirclePrivacy"/>
			<xs:field xpath="@pid"/>
		</xs:keyref>
		<xs:keyref name="Rating_ForeignKey_1" refer="Photo_PrimaryKey_1">
			<xs:selector xpath="Rating"/>
			<xs:field xpath="@pid"/>
		</xs:keyref>
		<xs:keyref name="UserPrivacy_ForeignKey_1" refer="Photo_PrimaryKey_1">
			<xs:selector xpath="UserPrivacy"/>
			<xs:field xpath="@pid"/>
		</xs:keyref>
	</xs:element>
	<xs:element name="PrivacyType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Photo" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="privacy" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
		<xs:key name="PrivacyType_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="@privacy"/>
		</xs:key>
		<xs:keyref name="Photo_ForeignKey_2" refer="PrivacyType_PrimaryKey_1">
			<xs:selector xpath="Photo"/>
			<xs:field xpath="@privacy"/>
		</xs:keyref>
	</xs:element>
	<xs:element name="Professor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Advise" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Student" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="userid" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="research_area">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="room_id">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
		<xs:key name="Professor_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="@userid"/>
		</xs:key>
		<xs:keyref name="Advise_ForeignKey_1" refer="Professor_PrimaryKey_1">
			<xs:selector xpath="Advise"/>
			<xs:field xpath="@profid"/>
		</xs:keyref>
		<xs:keyref name="Student_ForeignKey_2" refer="Professor_PrimaryKey_1">
			<xs:selector xpath="Student"/>
			<xs:field xpath="@advisorid"/>
		</xs:keyref>
	</xs:element>
	<xs:element name="Rating">
		<xs:complexType>
			<xs:attribute name="pid">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="userid">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="score">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Student">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Advise" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="userid" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="advisorid">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="year">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
		<xs:key name="Student_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="@userid"/>
		</xs:key>
		<xs:keyref name="Advise_ForeignKey_2" refer="Student_PrimaryKey_1">
			<xs:selector xpath="Advise"/>
			<xs:field xpath="@sid"/>
		</xs:keyref>
	</xs:element>
	<xs:element name="UserPrivacy">
		<xs:complexType>
			<xs:attribute name="pid">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="userid">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="friendid">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Users">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AcademicInstitution" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Circle" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="FriendRelation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Photo" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Professor" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Rating" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Student" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="UserPrivacy" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="userid" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="-2147483648"/>
						<xs:maxInclusive value="2147483647"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="first_name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="last_name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="dob">
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<xs:minInclusive value="1000-01-01"/>
						<xs:maxInclusive value="9999-12-31"/>
						<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="email">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="gender">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="address">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="password">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
		<xs:key name="Users_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="@userid"/>
		</xs:key>
		<xs:keyref name="AcademicInstitution_ForeignKey_1" refer="Users_PrimaryKey_1">
			<xs:selector xpath="AcademicInstitution"/>
			<xs:field xpath="@userid"/>
		</xs:keyref>
		<xs:keyref name="Circle_ForeignKey_1" refer="Users_PrimaryKey_1">
			<xs:selector xpath="Circle"/>
			<xs:field xpath="@userid"/>
		</xs:keyref>
		<xs:keyref name="FriendRelation_ForeignKey_2" refer="Users_PrimaryKey_1">
			<xs:selector xpath="FriendRelation"/>
			<xs:field xpath="@friendid"/>
		</xs:keyref>
		<xs:keyref name="Photo_ForeignKey_1" refer="Users_PrimaryKey_1">
			<xs:selector xpath="Photo"/>
			<xs:field xpath="@userid"/>
		</xs:keyref>
		<xs:keyref name="Professor_ForeignKey_1" refer="Users_PrimaryKey_1">
			<xs:selector xpath="Professor"/>
			<xs:field xpath="@userid"/>
		</xs:keyref>
		<xs:keyref name="Rating_ForeignKey_2" refer="Users_PrimaryKey_1">
			<xs:selector xpath="Rating"/>
			<xs:field xpath="@userid"/>
		</xs:keyref>
		<xs:keyref name="Student_ForeignKey_1" refer="Users_PrimaryKey_1">
			<xs:selector xpath="Student"/>
			<xs:field xpath="@userid"/>
		</xs:keyref>
		<xs:keyref name="UserPrivacy_ForeignKey_2" refer="Users_PrimaryKey_1">
			<xs:selector xpath="UserPrivacy"/>
			<xs:field xpath="@userid"/>
		</xs:keyref>
		<xs:keyref name="UserPrivacy_ForeignKey_3" refer="Users_PrimaryKey_1">
			<xs:selector xpath="UserPrivacy"/>
			<xs:field xpath="@friendid"/>
		</xs:keyref>
	</xs:element>
</xs:schema>
